@{
    ViewData["Title"] = "Home Page";
}
<div class="img-bg">
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                </div>
                <div class="col-auto">
                    <button class="btn btn-lg btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<!-- Start -->
  <div class="offers">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2 class="section_title">najpopularniejsze pokoje</h2>
				</div>
			</div>
			<div class="row offers_items">

				<!-- Offers Item -->
				<div class="col-lg-6 offers_col">
					<div class="offers_item">
						<div class="row">
							<div class="col-lg-6">
								<div class="offers_image_container">
									<div class="offers_image_background" style="background-image:url(img/hotel.jpg)"></div>
									<div class="offer_name"><a href="#">nad morzem</a></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="offers_content">
									<div class="offers_price">120,00 zł<span>za noc</span></div>
									<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="img/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="offers_link"><a href="offers.html">szczegółowe informacje</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Offers Item -->
				<div class="col-lg-6 offers_col">
					<div class="offers_item">
						<div class="row">
							<div class="col-lg-6">
								<div class="offers_image_container">
									<div class="offers_image_background" style="background-image:url(img/hotel.jpg)"></div>
									<div class="offer_name"><a href="#">w górach</a></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="offers_content">
									<div class="offers_price">165,00 zł<span>za noc</span></div>
									<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="img/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="offers_link"><a href="offers.html">szczegółowe informacje</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Offers Item -->
				<div class="col-lg-6 offers_col">
					<div class="offers_item">
						<div class="row">
							<div class="col-lg-6">
								<div class="offers_image_container">
									<div class="offers_image_background" style="background-image:url(img/hotel.jpg)"></div>
									<div class="offer_name"><a href="#">mazury</a></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="offers_content">
									<div class="offers_price">90,00 zł<span>za noc</span></div>
									<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="img/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="offers_link"><a href="offers.html">szczegółowe informacje</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Offers Item -->
				<div class="col-lg-6 offers_col">
					<div class="offers_item">
						<div class="row">
							<div class="col-lg-6">
								<div class="offers_image_container">
									<div class="offers_image_background" style="background-image:url(img/hotel.jpg)"></div>
									<div class="offer_name"><a href="#">nad morzem</a></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="offers_content">
									<div class="offers_price">115,00 zł<span>za noc</span></div>
									<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="img/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="img/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="offers_link"><a href="offers.html">szczegółowe informacje</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

    <section class="probootstrap-section probootstrap-bg" style="background-image: url(img/background.jpg);">
    <div class="container" style="text-center">
      <h2 class="heading">Najnowsze oferty!</h2>
      <p class="sub-heading">aaaadsadsadaskdhaskhdkajshdkjashdkj</p>
      <p><a href="#" class="btn btn-primary">Więcej informacji</a></p>
    </div>
  </section>
  <!-- END: section -->

  <div class="offers">
    <div class="container">
      <div class="text-center">
        <h2 class="mt0 mb0 text-center section_title">Województwa i regiony</h2>
      </div>
      <div class="row probootstrap-gutter10">
        <div class="col-md-6 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="img/hotel.jpg" alt="First Hotel" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>Bieszczady</h3>
              <p>184 Hoteli</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="img/hotel.jpg" alt="Second Hotel" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>Warmia i Mazury</h3>
              <p>141 Hoteli</p>
            </div>
          </a>
        </div>
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="img/hotel.jpg" alt="Third Hotel" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>Sudety</h3>
              <p>118 Hoteli</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="img/hotel.jpg" alt="Fourth Hotel" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>Pieniny</h3>
              <p>87 Hoteli</p>
            </div>
          </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6">
          <a href="#" class="probootstrap-hover-overlay">
            <img src="img/hotel.jpg" alt="Fifth Hotel" class="img-responsive">
            <div class="probootstrap-text-overlay">
              <h3>Wielkopolska</h3>
              <p>75 Hoteli</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: section -->

@section Scripts
{
    <script>
    </script>
}

